    <% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div class="mb-3">
        <a href="/campgrounds/new" class="btn btn-success">Add Campground</a>
    </div>
    
        <% for(let campground of campgrounds) {%>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="fit"><img class="img-fluid" src="<%=campground.image%>" alt=""></div>
                        </div>
                        <div class="col-md-8 col-12 px-5">
                            <div class="card-body">
                                <h5 class="card-title"><%= campground.title %></h5>
                                <p class="card-text"><%= campground.description %></p>
                                <p class="text-secondary"><%= campground.location %></p>
                                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary title">View <%= campground.title %></a>
                            </div>
                        </div>
                    </div>
                </div>
        <% } %>
    


    <style>
        .fit{
            height: 250px;
            width: 350px;
        }
        img{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
        @media (max-width: 991px){
            .fit{
                width: 300px;
            }
            p, .title{
                font-size: 13.5px;
            }
            .card-body{
                margin-left: 35px;
            }
        }
        @media (max-width: 768px){
            .card{
                width: 302px;
                margin-left: auto;
                margin-right: auto;
            }
            .card-body{
                width: 100%;
                margin-left: 0px;
                padding: 15px 0px 15px 0px;
                text-align: center;
            }
            img{
            border-radius: 5px;
        }
        }
        @media (max-width: 500px){
            .fit{
                width: 275px;
            }
            .card{
                width: 277px;
            }
        }
    </style>