    <% layout('layouts/boilerplate') %>
    <div class="row mb-5">
        <div class="d-flex flex-column align-items-center col-lg-6 offset-lg-3 col-10 offset-1">
            <div class="card mb-3">
                <div class="fit"><img src="<%=campground.image%>" class="card-img-top" alt=""></div>
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= campground.location %></li>
                    <li class="list-group-item"><%= campground.price %>/night</li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-primary" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>

    <style>
        .fit{
            height: 350px;
            width: 100%;
            text-align: center;
        }
        .card{
            width: 450px;
        }
        img{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
        @media (max-width: 1000px){
            .card{
                width: 350px;
            }
            .fit{
                height: 300px;
            }
        }
    </style>